.profile-pic {
  border: 5px rgba(217, 223, 219, 0.29) solid;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  bottom: -40%;
}

.info {
  position: absolute;
  left: 220px;
  bottom: 0;
}
.sidebar-link {
  list-style: none;
}
