.main {
  min-height: 80vh;
}
.imagebox {
  max-width: 100vw;
  height: 100%;
  background-image: url(../src/assests/image3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  backdrop-filter: blur(10px);
  width: 500px;
}

form > h1 {
  font-family: "Times New Roman", Times, serif;
}

label {
  font-family: monospace;
  font-weight: 600;
}

svg {
  height: auto;
}

#radio {
  display: inline;
}

.toggleButton {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 133px;
  width: 50px;
  left: 350px;
}

.toggleButton2 {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 350px;
  bottom: 70px;
  width: 50px;
}
