.main {
  min-height: 30vh;
  width: 100%;
}
.admin-layout > .main {
  background: rgb(204, 221, 235);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensedwght@700&display=swap");
--root-var {
  --primaryColor: ##0c120c;
  --secondary-color: #c20114;
  --color-gray: #6d7275;
  --color-ash: #c7d6d5;
  --color-white: #ecebf3;
}

.signin {
  min-height: 100vh;
  background-image: url(../src/assests/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.signup {
  min-height: 100vh;
  background-image: url(../src/assests/signup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

form > h1 {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #12025b;
  font-weight: 600;
}

label {
  font-family: monospace;
  font-weight: 6500;
}

.form-label {
  color: rgb(7, 7, 92);
}

svg {
  height: auto;
}

#radio {
  display: inline;
}

.toggleButton {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 133px;
  width: 50px;
  left: 350px;
}

.offcanvas {
  width: 230px !important;
}
.admin-layout .side-bar {
  width: 230px;
  position: fixed;
  left: 0;
  height: calc(100vh - 200px);
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.admin-layout .main {
  margin-left: 230px;
  width: calc(100vw - 230px);
}

.page-content {
  min-height: 83vh;
}

.side-nav li {
  font-weight: 500;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.submitButton {
  border: none !important;
}
.submitButton:hover {
  background: rgb(179, 153, 144) !important;
  border: none;
}

.whiteText {
  color: white;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fnb {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ebf8fc;
}
.fbIcon {
  color: rgb(90, 90, 102);
  font-size: 1.5rem;
  margin-right: 5px;
}
.icon {
  font-size: 1.5rem;
  margin-right: 5px;
}
/* header */
.header {
  background-color: #ecf0f03d !important;
  position: sticky;
  top: 0;
  height: 10vh;
  backdrop-filter: blur(10px);
}
.footer {
  background-color: #efede74e !important;
  height: 10vh;
  position: fixed;
  width: 100vw;
  bottom: 0;
  backdrop-filter: blur(10px);
}
.sign {
  font-size: medium;
  color: red;
  font-weight: 800;
  font-size: 1.2rem;
  font-family: monospace;
}
.link {
  color: red !important;
}
.btn > svg {
  margin-right: 10px;
  color: rgb(81, 131, 152);
  font-size: 1.5rem;
}
.sidebar-link {
  border: solid rgba(246, 229, 229, 0);
  transition: border-bottom 2s;
}
.sidebar-link:hover {
  border-bottom: #6d7275 solid;
  animation: hover 3s linear 1;
}
@keyframes hover {
}
@media (max-width: 991px) {
  .admin-layout .main {
    margin-left: 0 !important;
    width: 100vw;
  }

  .admin-layout .side-bar {
    display: none !important;
  }
}
